#container {
    position: relative;
    top: 4cm;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(./images/tim-cooper-DSgjjsjnvQQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 9cm;
    padding-top: 2cm;
    max-height: 2cm;
    background-position: center;
}
#overview {
    border: 1cm;
    max-width: 12cm;
    margin-left: 33cm;
    text-align: right;
    margin-top: -2cm;
    color: honeydew;
    font-size: 35px;
}


#overview {
    border: 1cm;
    max-width: 12cm;
    margin-left: 33cm;
    text-align: right;
    margin-top: -2cm;
    color: honeydew;
    font-size: 35px;
}
#welcimg {
    background-image: url(./images/daniel-tuttle--IHUF0jIey4-unsplash.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    width: 140px;
    padding: 4cm;
    text-align: center;
    margin-left: 8cm;
    margin-top: 3cm;
}

#welcp {
    border: 1cm;
    max-width: 12cm;
    max-height: 22cm;
    margin-left: 23cm;
    text-align: right;
    color: black;
    font-size: 35px;
    margin-top: -6cm;
}


#welcome {
    width: 40cm;
    border: 1px;
    padding: 50px;
    margin: 20px;
    margin-left: 2cm;
}

#gallery{
    display: inline-block;
    width: 40cm;
    height: 10cm;
    border: 1px;
    padding: 50px;
    margin: 20px;
    margin-left: 2.5cm;
    margin-right: 1cm;
    background-color: rgb(243, 203, 203);
}